


$primary-font: 'HK Grotesk Legacy';
$title-font: 'Playfair Display', serif;
$light-color: #ffffff;
$dark-color: #000000;
$bg-color: #1F2235;
$title-color: #ffffff;
$paragraph-color: #ffffff;
$hover-color: #FFC576;
$link-color: #FFC576;

